<ion-view view-title="saldo.io">
 <ion-content class="has-header">
    <ion-refresher
      pulling-text="Dra och släpp..."
      refreshing-text="Laddar..."
      refreshing-icon="ion-ios7-reloading"
      on-refresh="refresh()"
      >
    </ion-refresher>
    <ion-list>
      <div class="item item-divider">
        Skånetrafiken
      </div>

      <div class="item item-icon-right" ng-repeat="account in accounts">
        <h2>{{account.name}}</h2>
        <p>{{account.amount}} kr</p>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
